Practica/Practica/Service References/ServiceReference3/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:18124/Service2.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="c1" type="xs:int" />
        <xs:element minOccurs="0" name="c2" type="xs:int" />
        <xs:element minOccurs="0" name="c3" type="xs:int" />
        <xs:element minOccurs="0" name="c4" type="xs:int" />
        <xs:element minOccurs="0" name="c5" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="buscarResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="promedio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c1" type="xs:int" />
        <xs:element minOccurs="0" name="c2" type="xs:int" />
        <xs:element minOccurs="0" name="c3" type="xs:int" />
        <xs:element minOccurs="0" name="c4" type="xs:int" />
        <xs:element minOccurs="0" name="c5" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="promedioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="promedioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>